* {
  margin: 0;
  margin-left: 0;
}
body {
  background-color: #f7f9f9 !important;
}

.activee {
  background-color: #0b8d96 !important;
  width: 100%;
  color: #f7f9f9 !important;
}

.container h1 {
  text-align: center;
  text-decoration: underline;
  color: #0b8d96;
  font-size: 400%;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 25vh;
  margin-bottom: 5%;
}

.container h1:hover {
  text-shadow: 0px 0px 2px #003336;
}

.todo {
  padding-top: 30px;
  padding: 15px;
  color: #f7f9f9;
  background-color: #0b8d96;
  border-radius: 30px;
  margin-top: 10%;
  border: none;
  font-weight: bold;
  transition: ease-in;
  text-align: center;
}
.header-list {
  justify-content: space-around;
  height: 50vh;
}

.floatright img {
  height: 35vh;
  width: auto;
}
.def p {
  text-align: left !important;
  float: center;
  color: #0b8d96;
  font-size: 140%;
}
h2 {
  text-align: center;
  color: #0b8d96;
  text-decoration: underline;
  padding-bottom: 3%;
  font-size: 800%;
}

.buttons {
  float: left;
  position: absolute;
}

.parallax {
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.img {
  width: 100%;
  height: 75vh;
  margin-top: 5%;
  margin-bottom: 10%;
  align-content: center;
}

.to-do {
  background-image: url(pictures/parallax-07.png);
}

.event {
  background-image: url(pictures/parallax-06.png);
}

.middle {
  text-align: center;
  z-index: 1;
  width: 40vw;
  margin: 0 auto;
  padding-top: 12%;
  font-weight: bold;
  margin-bottom: 10% !important;
}

.text {
  border: #fff 2px solid;
  font-size: 5rem;
  color: #fff;
  padding: 15px 15px;
}

#ToDos {
  margin-bottom: 20%;
  margin-left: 300px;
  margin-right: 300px;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.4);
}

.completed {
  color: grey;
  text-decoration: line-through;
}

#ToDos p {
  background: #0b8d96;
  font-size: 30px;
  color: white;
  margin: 0em;
  padding: 10px 20px;
  text-transform: uppercase;
  font-family: sans-serif;
}

#lists {
  list-style: none;
  margin: 0;
  padding: 0;
}

#lists li {
  background-color: #0b8d96;
  /* height: 40px;
   line-height: 40px;
   color: #666;
   font-size: 20px;
   margin-right :30px ; */
  font-size: 25px;
  border: 1.5px solid #f7f9f9;
  color: #f7f9f9;
  margin: 0em;
  padding: 10px 20px;
  text-transform: uppercase;
  font-family: sans-serif;
}

#ToDos input {
  font: size 30px;
  background-color: #f7f9f9;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
}

#ToDos input:focus {
  background: #fff;
  border: 3px solid #0b8d96;
}

.fa-plus {
  float: right;
}

#lists span {
  height: 40px;
  margin-right: 20px;
  text-align: center;
  width: 40px;
  display: inline-block;
}

@media screen and (max-width: 1000px) {
  .container h1 {
    color: #0b8d96;
    font-size: 200%;
    margin-top: 20vh;
  }

  .def p {
    font-size: 1em;
  }
  .text {
    font-size: 1rem;
    padding: 15px 10px;
  }

  .to-do {
    height: 25vh;
    width: 100%;
    margin-top: 30vh;
  }
  #ToDos {
    margin-bottom: 20%;
    margin-left: 30px;
    margin-right: 30px;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.4);
  }
  .floatright img {
    height: 20vh;
    width: auto;
  }
}
