* {
  margin: 0;
  margin-left: 0;
}
body {
  background-color: #f7f9f9 !important;
}

.header-list {
  justify-content: space-around;
  height: 50vh;
}

.floatright img {
  height: 40vh;
  width: auto;
}
.def p {
  text-align: left !important;
  float: center;
  color: #0b8d96;
  font-size: 1.2rem;
}

.container h1 {
  text-align: center;
  text-decoration: underline;
  color: #0b8d96;
  font-size: 5rem;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 20vh;
  margin-bottom: 5vh;
}

.container h1:hover {
  text-shadow: 0px 0px 2px #003336;
}

.container button {
  padding-top: 5%;
  padding: 1.5%;
  color: #f7f9f9;
  background-color: #0b8d96 !important;
  border-radius: 30px;
  margin-top: 3%;
  border: none;
  font-weight: bold;
  transition: ease-in;
  text-align: center;
  font-size: 130%;
}
.container li {
  list-style: none;
}

.container ul button:hover {
  color: #f7f9f9;
  background-color: #0b8d96;
  border-width: 10px;
  border-color: #f7f9f9;
  border-radius: 30px;
  box-shadow: 0 3px 15px 0 rgba(15, 15, 15, 0.158),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.parallax {
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.img {
  margin-left: 0;
  width: 100% !important;
  height: 75vh;
  margin-top: 3%;
  margin-bottom: 10%;
  align-content: center;
}

.attend {
  background-image: url(pictures/attend-05.png);
}

.middle {
  text-align: center;
  z-index: 1;
  width: 40vw;
  margin: 0 auto;
  padding-top: 12%;
  font-weight: bold;
}

.text {
  border: #fff 2px solid;
  font-size: 1em;
  color: #fff;
  padding: 15px 15px;
}

.jumbotron {
  background-color: #0b8d96 !important;
  width: 80%;
  height: 50%;
  overflow: hidden;
  margin: auto;
}

.section-2 {
  margin-top: 1%;
  margin-bottom: 100em;
}

label {
  color: #f7f9f9;
  text-align: center;
}

.checkBoxes {
  position: relative;
}

input {
  background: #f7f9f9;
  border-radius: 0.3cm;
  border: transparent;
  margin: 30px;
  padding: 3px;
}

input[type="submit"] {
  padding: 5px;
  margin: 2%;
}

.add {
  margin: 0 auto;
  width: 100px;
  border-radius: 30px;
  background-color: #0b8d96;
  color: #f7f9f9;
  border: 1px #f7f9f9 solid;
}

select {
  background: #f7f9f9;
  padding: 5px;
  border-radius: 0.3cm;
  border: transparent;
  margin: 20px;
  padding: 3px;
}

.list {
  list-style: none !important;
  margin-top: 75px;
  margin-bottom: 40%;
}

.list li {
  text-align: left;
  list-style-type: disc;
  padding: 10px;
  background: rgba(2, 67, 83, 0.589);
  background-position: left !important;
  margin: 6px;
  transition: transform 0.5s;
  color: #f7f9f9;
  width: 750px;
  /* text-shadow: 1px 1px 1px black; */
}

span {
  float: right;
}

.subjectName,
.daysAttended,
.totalDays,
.percentage,
.checkBoxes {
  float: left;
  position: relative;
}

.subjectName {
  max-width: fit-content;
}

.checkBoxes {
  float: right;
  margin-right: 70px;
}

.daysAttended {
  float: left;
  margin-left: 100px;
}

.totalDays {
  float: left;
  margin-left: 120px;
}

.percentage {
  float: left;
  margin-left: 90px;
}

.headings .subject_name {
  float: left;
  margin-left: 50px;
}

.headings .days {
  float: left;
  margin-left: 20px;
}

.headings .total {
  float: left;
  margin-left: 20px;
}

.headings .per {
  float: left;
  margin-left: 20px;
}

.headings {
  display: flex;
  width: 70%;
  color: #f7f9f9;
  font-weight: bold;
  margin-top: 50px;
}

.min-percentage {
  color: #e32;
  font-weight: bold;
}

#delete {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 20px;
  cursor: pointer;
  background-image: url("pictures/trash-07.png");
  background-size: 25px auto;
  background-repeat: no-repeat;
  /* background-color: rgba(2, 67, 83, 0.589); */
  margin-inline-end: 255px;
  /* margin-top : 0px !important;
    align-content: center; */
}

@media screen and (max-width: 1000px) {
  .container h1 {
    color: #0b8d96;
    font-size: 200%;
    margin-top: 20vh;
  }

  .def p {
    font-size: 1em;
  }

  .jumbotron {
    width: 80%;
    text-align: center;
  }

  .add {
    margin-top: 2vh;
  }
  input {
    font-size: 0.7rem !important;
    margin-bottom: 1vh;
  }

  .attend {
    height: 25vh;
    width: 100%;
    margin-top: 30vh;
  }
}
